.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.45);
}

.modal {
    position: absolute;
    margin:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0.75rem;
    border: 1px solid #000;
    box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.75);
    z-index: 999;
    animation: slide-down 300ms ease-out forwards;
}



