.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.45);
}

.modal {
    position: absolute;
    margin:auto;
    top: 10vh;
    left: calc(50% - 20rem);
    width: 40rem;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.75);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.modal-tn {
    left: calc(50% - 15rem);
    width: 30rem;
}

.modal-xl {
    left: calc(50% - 35rem);
    width: 70rem;
}

.modal-lg {
    left: calc(50% - 30rem);
    width: 60rem;
}

.modal-md {
    left: calc(50% - 25rem);
    width: 50rem;
}


